.dropdown-panel {
  opacity: 10%;
  transition: opacity 0.3s ease;
}

.dropdown-panel.active {
  opacity: 100%;
}

.dropdown-content {
  opacity: 0;
}

.dropdown-content.active {
  opacity: 100%;
}

.dropdown-panel:not(.active):hover {
  opacity: 30%;
}
