.sidebar-menu {
  background-color: var(--color-blue-50);
  color: #01312b;
  padding: 12px 16px;
  border-radius: 8px;
  flex-shrink: 0;
  transition: 0.3s background-color ease-in-out;
  cursor: pointer;
}

.sidebar-menu:hover {
  background-color: var(--color-info-50);
}

.sidebar-menu.active {
  background-color: var(--color-info-50);
}
