.input,
.select-input,
.textarea {
  min-height: 48px;
  width: 100%;
  border-radius: 8px;
  padding: 6px 16px;
  border: 1px solid rgba(1, 49, 43, 0.3);
}

.select-input {
  appearance: none; /* remove default arrow */
  -webkit-appearance: none; /* Safari */
  -moz-appearance: none;
  background-image: url('/public/images/icons/select-dropdown.svg');
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.input:focus,
.select-input:focus,
.textarea:focus {
  border: 1px solid var(--color-darkgreen-500);
  outline: none;
}

.input.error,
.select-input.error,
.textarea.error {
  border: 1px solid var(--color-danger-100);
}
