.blog-details h2 {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0;
  color: #101010;
}

.blog-details p,
.blog-details li {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
}

.blog-details ul {
  list-style-type: disc;
  padding-left: 24px;
}

.blog-details img {
  border-radius: 8px;
}

@media (min-width: 768px) {
  .blog-details h2 {
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: 0;
  }

  .blog-details p,
  .blog-details li {
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
  }
}

@media (min-width: 1440px) {
  .blog-details h2 {
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: 0;
  }

  .blog-details p,
  .blog-details li {
    color: #505050;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0;
  }
}
